page-login {
 
  .login-content {
         background-image: url('../assets/img/bg3.jpg');
         background-repeat: repeat;
         //background-color: #F2F2F2 !important;
 

    .headlines h1, .headlines h2{
        color: #C22727;
        font-weight: bolder;
        font-size: 2.3em;
    }

    .headlines{
        margin-top: 40px;
        margin-left: 30px;
    }
 
    .login-box {

    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
   ion-item{
       margin-top: 10px;
        border-radius: 30px !important;
       -moz-border-radius:30px !important;
       -webkit-border-radius:30px !important;
       background-color: #FFFFFF !important;

   }
 
     .submit-btn {
       background: #C22727;
       border-radius: 30px !important;
       
     }
 
     .register-btn {
         background-color: transparent !important;
       font-size: 0.8em;
       color: #C22727;

     }
  }
 
}